.collection-two{
    padding-top: 10px;
    padding-bottom: 40px;
}
.block-title-two{
    padding-top: 0;
}
.block-title{
    padding-bottom: 25px;
}
.headLine{
    width: 20vw;
    height: 2px;
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: 6px;
    background: var(--thm-blue);
}
.blog-one{
    padding-top: 40px;
}
.navLine{
    margin: 0;
    background: transparent;
    height: 0;
    width: 100%;
    border: none;
}
.connect{
    text-align: center;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], input[type="url"], input[type="tel"], textarea {
    height: 40px;
    width: 100%;
    border: none;
    background: #F4F4F4;
    border-bottom: 2px solid #EEE;
    color: #354052;
    padding: 0 10px;
    opacity: 0.5;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;
    margin-bottom: 8px;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="url"]:focus, input[type="tel"]:focus, textarea:focus {
    border-color: #6195FF;
    opacity: 1;
}
.main-btn {
    background: #6195FF;
    color: #FFF;
    font-size: 18px;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    border-radius: 0;
    border: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
.main-btn:hover, .white-btn:hover, .outline-btn:hover {
    opacity: 0.75;
    outline: none !important;
}
textarea{
    height: 125px;
}
.formWrap{
    margin: 0 auto;
}
.myBtn{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 115px;
    background: var(--thm-blue);
    border-color: var(--thm-blue);
    color: white;
}
.myBtn:hover{
    opacity: 0.75;
}

.more{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 0.5%;
    background: var(--thm-blue);
    border-color: var(--thm-blue);
    color: white;
}
.more:hover{
    opacity: 0.75;
}
#deviceWrap{
    text-align: center;
}

#deviceWrap .title{
    font-size: 20px;
    font-weight: 600;
}
#deviceWrap .sketch{
    font-size: 15px;
}
.deviceItem{
    border: 1px solid #eee;
    padding: 15px 20px;
    display: inline-block;
    margin: 0 0 -1px -1px;
}
.deviceItem:hover{
    /*background-color: var(--thm-base);
    transition: all 0.15s ease-in-out;
    color: white;*/
}
.deviceItem img{
    cursor: pointer;
}
.deviceItem a{
    color: #ccc;
}
.deviceItem:hover::before {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.deviceItem::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--thm-base);
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
}