.main-nav__right{
    position: absolute!important;
    right: 20%!important;
    border: none!important;
}
.main-nav-one .logo-box{
    border: none;
}
.original{
    display: none;
}
.collection-filter {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: revert;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.blog-one {
    padding-top: 0;
    margin-top: -60px;
    padding-bottom: 20px;
}
.blog-one__content {
    position: relative;
    padding: 10px;
    box-shadow: 0 20px 50px 0 rgba(33, 37, 43, 0.1);
    height: 145px;
}
.blog-one__image{
    cursor: pointer;
    height: 160px;
}
.blog-one__content h4{
    color: #6195ff;
}
.blog-one__content p{
    line-height: 23px;
    color: #9E9E9E;
    font-size: 15px;
    padding-bottom: 18px;
}
.blog-one__content a{
    position: absolute;
    bottom: 8px;
    right: 10px;
    font-size: 18px;
    color: #0b0b0b80;
}
.sidebar{
    padding-top: 20px;
}
.sidebar__single+.sidebar__single {
    margin-top: 28px;
}
.itemHead{
    font-size: 18px;
    font-weight: bold;
    margin-top: -5px;
    color: #000;
}
#typeWrap a{
    display: block;
    border: 1px solid #e5e5e5;
    font-size: 16px;
    color: var(--thm-black);
    padding: 10px 26px;
    cursor: pointer;
    -webkit-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    margin-right: 12px;
    margin-bottom: 12px;
}
#typeWrap a:hover,
#typeWrap a:focus,
#typeWrap a:active{
    color: white;
    background-color: var(--thm-base);
    border-color: var(--thm-base);
    outline: none;
}
.filterActive{
    color: white!important;
    background-color: var(--thm-base);
    border-color: var(--thm-base)!important;
}
.dataTip{
    margin-left: 15px;
}