<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />
    <title>签字板</title>
    <meta name="keywords" content="仪器共享,实验服务,研发,检测,互联网+,化学,化工,材料,科研,化学化工,实验外包,仪器租用,第三方检测,仪器租赁,金属材料,FEI Talos F200X，FEI Tecnai G2 F20，FEI Tiatan Themis，TEM，球差，FEI Scios，SEM，FIB，力学，拉伸，EBSD"/>
    <meta name="description" content="中科科辅（北京）科技有限公司（简称中科科辅）,公司着眼于科学研究与技术发展的前沿问题,基于国内外科研水平不对称、资源配置不均衡的现状,具有完善的科研服务平台,致力于打造国内领先,国际知名的科研服务平台,建设一个平等、开放、高水平的个性化科研辅助平台。"/>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/images/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/images/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/icon.png">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/index/sign.css" />
    <!--Sweet alert-->
    <link rel="stylesheet" href="../static/plugins/sweetalert/1.1.3/sweetalert.css">
    <script src="../static/plugins/sweetalert/sweetalert.min.js"></script>
    <style>

    </style>
</head>

<body>
<input type="hidden" value="{{ ._xsrf}}" id="token">
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../static/js/index/signLib.js"></script>
    <script src="../static/js/util/stringUtil.js"></script>
    <script src="../static/js/util/util.js"></script>
    <script src="../static/js/index/sign.js"></script>
    <div class="buttons">
        <button type="button" class="btn btn-info undo">撤销</button>&nbsp;
        <button type="button" class="btn btn-danger clear">清除画布</button>&nbsp;
        <button type="button" class="btn btn-primary submit">发送签名</button>&nbsp;
    </div>
    <img id="imgWrap" class="imgWrap"/>
    <div class="tip"></div>
</body>

</html>