#tab2,#tab3,#tab4{
    width: 75%;
    margin: 0 auto;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 15vh;
}
#addTable,#editTable{
    margin-left: -30px;
}

#tab2 .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 10vw!important;
    height: 30px;
}
#tab4 .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 10vw!important;
    height: 30px;
}

.weekWrap{
    margin-left: 0;
    margin-bottom: 40px;
    margin-top: 4px;
    font-size: 14px;
}
.weekWrap span{
    padding: 6px 18px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    margin-left: 6px;
    display: inline-block;
    position: absolute;
}
.weekWrap span:nth-child(1){
    left: 14px;
}
.weekWrap span:nth-child(2){
    left: 98px;
}
.weekWrap span:nth-child(3){
    left: 182px;
}
.weekWrap span:nth-child(4){
    left: 265px;
}
.weekWrapActive{
    color: #6195FF;
}
.weekWrap span:hover:before{
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.weekWrap span:before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #6195FF;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.weekWrap span:hover::after {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.weekWrap span::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #6195FF;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.dateTable{
    width: 100%;
    font-size: 14px;
}
.dateTable,.dateTable tr th,.dateTable tr td{
    border: 1px solid #eee;
}
.dateTable th{
    font-weight: bold;
}
.dateTable tr,th{
    height: 35px;
    vertical-align: middle;

}
.dateTable tr,th{
    text-align: center;
}
.click{
    cursor: pointer;
}
.click:hover{
    background: rgba(108, 117, 125, 0.8);
    color: white;
}
.clickActive{
    background: #6195FF;
    color: white;
}

/*协议相关样式开始*/
table{
    width: 100%;
}
#addTable tr,#protocolInfo tr,#editTable tr{
    height: 55px;
    font-size: 16px;
    text-align: left;
}
input[type='radio'] {
    cursor: pointer;
}

.tabtop13 {
    margin-top: 13px;
}
.tabtop13 td{
    height:25px;
    line-height:150%;
}
.font-left{ text-align:left}
.font-center{ text-align:center}
.btbg{background:#b5b9bf  !important;}
.btbg1{background:#f2fbfe !important;}
.btbg2{background:#f3f3f3 !important;}
.biaoti{
    font-family: "微软雅黑";
    font-size: 30px;
    font-weight: bold;
    border-bottom:1px dashed #CCCCCC;
    color: #6195ff;
    padding: 6px 0;
}
.titfont {
    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #e9faff;
}
.tabtxt2 {
    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #646567;
}
#addTable .tabtxt2,#editTable .tabtxt2{
    text-align: right;
    padding-right: 15px;
}
.tabtxt3 {
    font-family: 微软雅黑;
    font-size: 14px;
    padding-left: 15px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;
}

#protocolModal .rid{
    margin-top: 6px;
}
.tipRed{
    color: red;
}
.home{
    color: #6195ff;
}
.allDevice{
    color: #848484;
    font-size: 20px;
}
.allDevice i{
    color: #6195ff;
}
.wat{
    width: 100%;
    z-index: 0;
    position: absolute;
    font-family: "Panxiang";
    color: rgba(0,0,0,0.3);
    /*color: red;*/
    font-size: 17px;
    top: 0;
}
.watword{
    position: relative;
    text-align: center;
    transform: rotate(-16deg);
    width: 20%;
    float: left;
    height: 150px;
}

.sign img{
    width: 25%;
}

#addTable textarea,#protocolInfo textarea,#editTable textarea{
    display: none;!important;
}
.editor {
    min-height: 255px;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 6px;
    margin-bottom: 8px;
}
#addTable h1,h2,h3,h4,h5,#protocolInfo h1,h2,h3,h4,h5,#editTable h1,h2,h3,h4,h5{
    margin-top: 0!important;
}
.editor{
    cursor: pointer;
}
/*协议相关样式结束*/
.hasSelect{
    margin-top: 6px!important;
    font-size: 16px;
    color: #6195FF;
}
#pdfBtn{
    position: fixed;
    right: 7%;
    width: 4%;
    top: 45vh;
    cursor: pointer;
}
#pdfBtn:hover{
    opacity: 0.75;
}
#more{
    position: fixed;
    right: 7.5%;
    width: 3%;
    top: 35vh;
    cursor: pointer;
}
#more:hover{
    opacity: 0.75;
}
.dataTables_filter{
    margin-right: 146px;
    margin-top: 0;
}
#filterWrap{
    position: fixed;
    z-index: 999;
    right: 15px;
    top: 53px;
}
#curUser{
    margin-top: 6px;
}
.rid{
    margin-top: 6px;
}
#assignModal .rid{
    margin-top: 6px;
}
#curStatus{
    margin-top: 6px;
}
.statusTxt-red{
    color: red;
}
.statusTxt-blue{
    color: #6195ff;
}
.statusTxt-green{
    color: #4caf50;
}

/*指派任务弹框样式----------------------------开始*/
#assignModal .modal-body{
    height: 65vh;
}
#assignModal .created{
    margin-top: 6px;
}
/*下拉框宽度设置*/
#assignModal .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 140px;
    height: 30px;
}
#assignModal .showWrap{
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}
#assignModal .showWrap i{
    font-size: 25px;
    float: right;
    margin-right: 8px;
    cursor: pointer;
}
#assignModal .statementsWrap{
    display: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 35px;
    border: 1px solid #eee;
    padding: 8px;
}
#assignModal .statementsWrap h3{
    color: #6195ff;
    font-size: 20px;
}
#assignModal .infoTable tr{
    height: 25px;
}
#assignModal .tdLeft{
    padding-left: 8%;
    width: 50%;
}
.statementTable{
    margin-left: 25px;
}
#assignModal .title{
    font-weight: bold;
}
#assignModal .itemTable td{
    height: 30px;
}
#assignModal .itemTable{
    margin-top: 10px;
}
#assignModal .head td{
    font-weight: bold;
}
#assignModal .foot span{
    margin-top: 8px;
    display: inline-block;
    width: 30%;
    text-align: center;
}
#assignModal .cancel,#assignModal .submit,#assignModal .statement,#assignModal .confirmTask,#assignModal .completeTask,#assignModal .complete，#assignModal .fileWrap{
    display: none;
}
/*指派任务弹框样式----------------------------结束*/
/*更多操作样式-------------------------------开始*/
.myDropdown{
    width: 95px;
}
.dropdownWrap{
    padding: 3px 10px;
    position: fixed;
    margin-left: -93px;
    margin-top: 25px;
    display: none;
}
.dropdownItem{
    width: 125px;
    height: 35px;
    display: block;
    margin-left: -12px;
}
.dropdownItem:hover{
    background: #6195ff;
    color: white;
}
/*更多操作样式-------------------------------结束*/
