
.content{
    padding-top: 60px!important;
}
.form-group {
    margin-bottom: 8px!important;
}
hr{
    margin-top: 14px!important;
    margin-bottom: 10px!important;
}
#tab3 label{
    text-align: left!important;
    padding-top: 0!important;
}
#tab3 .panel-body{
    padding: 2% 25% 5% 20%
}