
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目信息管理</title>
    <!-- ========== Css Files ========== -->
    <link href="../../static/css/root.css" rel="stylesheet">
    <link href="../../static/css/design.css?v={{ .random}}" rel="stylesheet">
    <link href="../../static/css/main/device.css?v={{ .random}}" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<input type="hidden" value="{{ ._xsrf}}" id="token">
<div id="loading" class="loading-wrap">
    <div class="loader" >
        <div class="la-ball-clip-rotate-multiple la-3x">
            <div></div>
            <div></div>
        </div>
        <div class="loaderTxt">数据交互中...</div>
    </div>
</div>

<div class="mHead">
    <!-- Start Page Header -->
    <div>
        <ol class="breadcrumb">
            <li><span id="tabHref01" href="javascript:void(0)">数据列表</span></li>
            <li><span id="tabHref02" class="active" href="javascript:void(0)">新增数据</span></li>
            <li><span class="active" onclick="refresh()">刷新数据</span></li>
        </ol>
    </div>

</div>

<!-- START CONTENT -->
<div class="content">

    <!-- START CONTAINER -->
    <div class="container-padding" >

        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div id="panel" class="col-sm-12">
                <div class="panel panel-default">
                    <div id="tab1" class="panel-body table-responsive">
                        <table id="myTable" class="table display">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>所属分组</th>
                                <th>项目名称</th>
                                <th>是否上线</th>
                                <th>简述</th>
                                <th>查看数</th>
                                <th>订单数</th>
                                <th>预约数</th>
                                <th>更新时间</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab2" style="display: none">

                        <div class="panel-body">
                            <form id="form1" class="form-horizontal" autocomplete="off">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">父类分组</label>
                                    <div class="col-sm-3 " id="selWrap1">
                                        <select id="typeSel1" class="selectpicker pSelWrap" data-size="10" data-max-options="5" data-live-search="true" data-style="btn-default">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">子类分组</label>
                                    <div class="col-sm-3 selWrap" id="selWrap3">
                                        <select class="selectpicker" id="typeSel3" data-size="10" data-max-options="5" data-live-search="true" data-style="btn-default">
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">是否上线</label>
                                    <div class="col-sm-3">
                                        <select id="disabledSel1" class="selectpicker disabled" >
                                            <option selected value="0">上线</option>
                                            <option value="1">下线</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">订单项目</label>
                                    <div class="col-sm-3">
                                        <select id="isOrder" class="selectpicker isOrder" >
                                            <option selected value="1">是</option>
                                            <option value="0">否</option>
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="account" class="col-sm-2 control-label form-label"><span class="red">*</span>项目名称</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="name" class="form-control name" maxlength="255" placeholder="请输入项目名称">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>副标题</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="title" class="form-control title" maxlength="255" placeholder="请输入副标题">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>来源</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="source" class="form-control source" maxlength="255" placeholder="请输入来源">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>简述</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="sketch" class="form-control sketch" maxlength="255"  placeholder="请输入简述">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>仪器参数</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="parameter" class="form-control parameter editor" id="parameter" maxlength="255"  placeholder="请输入仪器参数">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>设备功能</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="feature" class="form-control feature editor" id="feature" maxlength="255"  placeholder="请输入设备功能">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>应用范围</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="range" class="form-control range editor" maxlength="255" id="range"  placeholder="请输入应用范围">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>代表性成果</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="achievement" class="form-control achievement editor" id="achievement" maxlength="255" placeholder="请输入代表性成果">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label form-label">设备图片</label>
                                    <div class="col-sm-8 " id="addImgWrap">
                                        <div class="addItem" title="添加图片">
                                            <img src="../../static/img/plus.png">
                                        </div>
                                        {{/*<div class="imgItem">
                                            <i title="点击删除" class="fa fa-window-close" aria-hidden="true"></i>
                                            <img src="../../static/img/test.jpg">
                                        </div>*/}}

                                    </div>
                                </div>

                                <div class="form-group remark">
                                    <label for="name" class="col-sm-2 control-label form-label">备注信息</label>
                                    <div class="col-sm-8">
                                        <textarea name="remark" class="form-control remark" placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group submitWrap">
                                    <div class="col-sm-offset-5">
                                        <a href="javascript:add()" class="btn btn-default">提交</a>&nbsp;&nbsp;
                                        <a id="reset" href="javascript:preview('add')" class="btn btn-success">本地预览</a>&nbsp;&nbsp;
                                        <a id="reset" href="javascript:reset()" class="btn btn-danger">重置</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Panel -->

        </div>
        <!-- End Row -->

    </div>
    <!-- END CONTAINER -->
</div>
<!-- End Content -->

<!-- 模态框-detail（Modal） -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    查看详情
                </h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-offset-1">
                    <p class="form-control-static" >所属分组：<span class="type"></span></p>
                </div>
                <div class="col-sm-offset-1">
                    <p class="form-control-static" >项目名称：<span class="name"></span></p>
                </div>
                <div class="col-sm-offset-1">
                    <p class="form-control-static" >项目标题：<span class="title"></span></p>
                </div>
                <div class="col-sm-offset-1">
                    <p class="form-control-static" >是否上线：<span class="disabled"></span></p>
                </div>
                <div class="col-sm-offset-1">
                    <p class="form-control-static" >来源：<span class="source"></span></p>
                </div>
                <div class="col-sm-offset-1">
                    <p class="form-control-static" >简述：<span class="sketch"></span></p>
                </div>
                <div class="col-sm-offset-1">
                    <p class="form-control-static" >仪器参数：<span class="parameter"></span></p>
                </div>
                <div class="col-sm-offset-1">
                    <p class="form-control-static" >设备功能：<span class="feature"></span></p>
                </div>
                <div class="col-sm-offset-1">
                    <p class="form-control-static" >应用范围：<span class="range"></span></p>
                </div>
                <div class="col-sm-offset-1">
                    <p class="form-control-static" >代表性成果：<span class="achievement"></span></p>
                </div>
                <div class="col-sm-offset-1">
                    <p class="form-control-static" >备注信息：<span class="remark"></span></p>
                </div>
                <div class="col-sm-offset-1">
                    <p class="form-control-static" >创建时间：<span class="created"></span></p>
                </div>
                <div class="col-sm-offset-1">
                    <p class="form-control-static" >最近更新：<span class="updated"></span></p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 模态框-edit（Modal） -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="editModalLabel">
                    编辑信息&nbsp;&nbsp;<span id="tip"></span>
                </h4>
            </div>
            <div class="modal-body" id="editBody">
                <form id="form2" class="form-horizontal" autocomplete="off">
                    <input type="hidden" name="id" id="id">

                    <div class="form-group">
                        <label class="col-sm-2 control-label form-label">父类分组</label>
                        <div class="col-sm-5 " id="selWrap2">
                            <select class="selectpicker pSelWrap" id="typeSel2" data-size="10" data-max-options="5" data-live-search="true" data-style="btn-default">
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label form-label">子类分组</label>
                        <div class="col-sm-5 selWrap" id="selWrap4">
                            <select class="selectpicker" id="typeSel4" data-size="10" data-max-options="5" data-live-search="true" data-style="btn-default">
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label form-label">是否上线</label>
                        <div class="col-sm-5">
                            <select id="disabledSel2" class="selectpicker disabled" >
                                <option selected value="0">上线</option>
                                <option value="1">下架</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label form-label">订单项目</label>
                        <div class="col-sm-3">
                            <select id="isOrder2" class="selectpicker isOrder" >
                                <option selected value="1">是</option>
                                <option value="0">否</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label form-label"><span class="red">*</span>项目名称</label>
                        <div class="col-sm-9">
                            <input type="text" name="name" class="form-control name" maxlength="255" placeholder="请输入项目名称">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>副标题</label>
                        <div class="col-sm-9">
                            <input type="text" name="title" class="form-control title" maxlength="255" placeholder="请输入副标题">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>来源</label>
                        <div class="col-sm-9">
                            <input type="text" name="source" class="form-control source" maxlength="255" placeholder="请输入来源">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>简述</label>
                        <div class="col-sm-9">
                            <input type="text" name="sketch" class="form-control sketch" maxlength="255"  placeholder="请输入简述">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>仪器参数</label>
                        <div class="col-sm-9">
                            <input type="text" name="parameter" class="form-control parameter editor" id="parameterE" maxlength="255"  placeholder="请输入仪器参数">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>设备功能</label>
                        <div class="col-sm-9">
                            <input type="text" name="feature" class="form-control feature editor" id="featureE" maxlength="255"  placeholder="请输入设备功能">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>应用范围</label>
                        <div class="col-sm-9">
                            <input type="text" name="range" class="form-control range editor" id="rangeE" maxlength="255"  placeholder="请输入应用范围">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label form-label"><span class="red"></span>代表性成果</label>
                        <div class="col-sm-9">
                            <input type="text" name="achievement" class="form-control achievement editor" id="achievementE" maxlength="255" placeholder="代表性成果">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label form-label">设备图片</label>
                        <div class="col-sm-9 " id="editImgWrap">
                            <div class="addItem" title="添加图片">
                                <img src="../../static/img/plus.png">
                            </div>
                            {{/*<div class="imgItem">
                                            <i title="点击删除" class="fa fa-window-close" aria-hidden="true"></i>
                                            <img src="../../static/img/test.jpg">
                                        </div>*/}}

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label form-label">备注信息</label>
                        <div class="col-sm-9">
                            <textarea name="remark" class="form-control remark" placeholder=""></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="edit()" class="btn btn-default">
                    提交更新
                </button>
                &nbsp;&nbsp;
                <button type="button" onclick="preview('edit')" class="btn btn-success">
                    本地预览
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/plugins/bootstrap/bootstrap.min.js"></script>
<script src="../../static/plugins/sweetalert/sweetalert.min.js"></script>
<script src="../../static/plugins/bootstrap/bootstrap-select/bootstrap-select.min.js"></script>
<script src="../../static/plugins/icheck/icheck.min.js"></script>
<script src="../../static/js/util/stringUtil.js"></script>
<script src="../../static/js/util/util.js"></script>
<script src="../../static/plugins/datatables/datatables.min.js"></script>
<script src="../../static/js/main/device.js?v={{ .random}}"></script>

</body>
</html>