
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单信息管理</title>
    <!-- ========== Css Files ========== -->
    <link href="../../static/css/root.css" rel="stylesheet">
    <link href="../../static/css/main/common.css?v={{ .random}}" rel="stylesheet">
    <link href="../../static/css/design.css?v={{ .random}}" rel="stylesheet">
    <link href="../../static/css/main/myOrder.css?v={{ .random}}" rel="stylesheet">
    <link href="../../static/plugins/myEvaluate/style.css?v={{ .random}}" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<input type="hidden" value="{{ ._xsrf}}" id="token">
<a style="display: none" id="downloadBtn" href="" download>下载</a>
<div id="loading" class="loading-wrap">
    <div class="loader" >
        <div class="la-ball-clip-rotate-multiple la-3x">
            <div></div>
            <div></div>
        </div>
        <div class="loaderTxt">数据交互中...</div>
    </div>
</div>

<div class="mHead">
    <!-- Start Page Header -->
    <div>
        <ol class="breadcrumb">
            <li><span data="tab1" class="list">数据列表</span></li>
            <li><span class="active" onclick="refresh()">刷新数据</span></li>
        </ol>
    </div>

</div>

<!-- START CONTENT -->
<div class="content">

    <!-- START CONTAINER -->
    <div class="container-padding" >

        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div id="panel" class="col-sm-12">
                <div class="panel panel-default">
                    <div id="tab1" class="tabWrap panel-body table-responsive">
                        <div id="filterWrap">
                            <select onchange="refresh()"  id="filterSelect" class="selectpicker" data-size="10" data-max-options="5" data-live-search="true" tabindex="-98">
                                <option value="0">全部分组</option>
                            </select>
                        </div>
                        <table id="myTable" class="table display">
                            <thead>
                            <tr>
                                <th style="text-align: center">序号</th>
                                <th>订单编号</th>
                                <th>项目类型</th>
                                <th>订单状态</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End Panel -->

        </div>
        <!-- End Row -->

    </div>
    <!-- END CONTAINER -->

    <!-- 模态框-assign（Modal） -->
    <div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title">
                        对账单信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" autocomplete="off">
                        <input type="hidden" class="rid">
                        <input type="hidden" class="step">
                        <input type="hidden" class="msg">
                        <input type="hidden" class="status">
                        <div class="form-group statementsWrap">
                            <div class="col-sm-11 statementTable">
                                <table class="infoTable">
                                    <tr class="text-center">
                                        <td colspan="7"><h3>测试服务明细单</h3></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" colspan="7">付款通知</td>
                                    </tr>
                                    <tr class="text-left">
                                        <td colspan="7" style="text-align: left"><span class="title">订单编号：</span><span class="rid"></span></td>
                                    </tr>
                                    <tr class="text-left">
                                        <td colspan="3"><span class="title">委托方(付款单位)：</span><span>北京理工大学</span></td>
                                        <td colspan="4"><span class="title">服务方(收款单位)：</span><span>中科科辅(北京)科技有限公司</span></td>
                                    </tr>
                                    <tr class="text-left">
                                        <td colspan="3"><span class="title">地址：</span><span>北京市海淀区中关村南大街5号北京理工大学</span></td>
                                        <td colspan="4"><span class="title">地址：</span><span>北京市昌平区西环路和平家园6号楼6-1-3室</span></td>
                                    </tr>
                                    <tr class="text-left">
                                        <td colspan="3"><span class="title">纳税人识别号：</span><span>65416416565415</span></td>
                                        <td colspan="4"><span class="title">开户银行：</span><span>北京农村商业银行股份有限公司昌平支行营业部</span></td>
                                    </tr>
                                    <tr class="text-left">
                                        <td colspan="3"><span class="title">联系人：</span><span>郝泽辉</span></td>
                                        <td colspan="4"><span class="title">账户：</span><span>0610 0001 0300 0012 086</span></td>
                                    </tr>
                                    <tr class="text-left">
                                        <td colspan="3"><span class="title">电话：</span><span>13263396228</span></td>
                                        <td colspan="4"><span class="title">纳税人识别号：</span><span>56464641656556561</span></td>
                                    </tr>
                                    <tr class="text-left">
                                        <td colspan="3"><span class="title">电子邮箱：</span><span>test@163.com</span></td>
                                        <td colspan="4"><span class="title">联系人：</span><span>李卓宣(电话:16601182885，邮箱:service@zkkf.cn)</span></td>
                                    </tr>
                                </table>
                                <table class="itemTable" border="1">
                                    <tr class="text-center head">
                                        <td>序号</td>
                                        <td>实验内容</td>
                                        <td>设备型号</td>
                                        <td>数量(个)</td>
                                        <td>单价(元)</td>
                                        <td>总额(元)</td>
                                        <td>备注</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>1</td>
                                        <td>高温拉伸/压缩--300至600度</td>
                                        <td>MTS 810</td>
                                        <td>1</td>
                                        <td>500</td>
                                        <td>500</td>
                                        <td>D-1,300度</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td colspan="7"><span class="title">订单总额：</span>500 &nbsp;&nbsp;&nbsp;<span class="title">中文大写：</span>伍佰圆整</td>
                                    </tr>
                                </table>
                                <div class="foot">
                                    <span>制表：马雄伟</span>
                                    <span>复核：李卓宣</span>
                                    <span>审核：郑学豪</span>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger cancel">账单有误?</button>
                    <button type="button" class="btn btn-success confirm">确认账单</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 模态框-detail（Modal） -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        订单详情
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >
                            订单编号：<span class="rid"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            订单状态：<span class="status"></span>
                        </p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >创建时间：<span id="detail_created"></span></p>
                    </div>

                    <div class="libItemWrap"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 模态框-evaluate（Modal） -->
    <div class="modal fade" id="evaluateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h3 class="modal-title">
                        服务评价
                    </h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="rid">
                    <input type="hidden" class="uid">
                    <div class="evaluateWrap">
                        <div class="satisfiedWrap">
                            <div class="picItem" data="0">
                                <div></div>
                                <span>非常满意</span>
                            </div>
                            <div class="picItem" data="1">
                                <div></div>
                                <span>满意</span>
                            </div>
                            <div class="picItem" data="2">
                                <div></div>
                                <span>一般</span>
                            </div>
                            <div class="picItem" data="3">
                                <div></div>
                                <span>不满意</span>
                            </div>

                        </div>
                        <div class="satisfiedTxtWrap">
                            <span>服务周到</span>
                            <span>效率高</span>
                            <span>处理快</span>
                            <span>温馨解答问题</span>
                            <span>服务满意</span>
                            <span>服务态度恶劣</span>
                        </div>
                        <div class="contentWrap">
                            <textarea maxlength="300" placeholder="请对服务做出简单评价"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<!-- End Content -->

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/plugins/bootstrap/bootstrap.min.js"></script>
<script src="../../static/plugins/sweetalert/sweetalert.min.js"></script>
<script src="../../static/plugins/bootstrap/bootstrap-select/bootstrap-select.min.js"></script>
<script src="../../static/plugins/icheck/icheck.min.js"></script>
<script type="text/javascript" src="../../static/plugins/bootstrap/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../../static/plugins/bootstrap/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="../../static/js/util/util.js"></script>
<script src="../../static/js/util/timeUtil.js"></script>
<script src="../../static/js/util/stringUtil.js"></script>
<script src="../../static/plugins/myEvaluate/index.js"></script>
<script src="../../static/js/main/common.js"></script>
<script src="../../static/plugins/datatables/datatables.min.js"></script>
<script src="../../static/js/main/myorder.js?v={{ .random}}"></script>

</body>
</html>