
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单信息管理</title>
    <!-- ========== Css Files ========== -->
    <link href="../../static/css/root.css" rel="stylesheet">
    <link href="../../static/css/design.css?v={{ .random}}" rel="stylesheet">
    <link href="../../static/css/main/order.css?v={{ .random}}" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<input type="hidden" value="{{ ._xsrf}}" id="token">
<a style="display: none" id="downloadBtn" href="" download>下载</a>
<div id="loading" class="loading-wrap">
    <div class="loader" >
        <div class="la-ball-clip-rotate-multiple la-3x">
            <div></div>
            <div></div>
        </div>
        <div class="loaderTxt">数据交互中...</div>
    </div>
</div>

<div class="mHead">
    <!-- Start Page Header -->
    <div>
        <ol class="breadcrumb">
            <li><span data="tab1" class="list">数据列表</span></li>
            <li><span data="tab2" class="active add" >新增数据</span></li>
            <li><span data="tab4" class="active edit" >编辑数据</span></li>
            <li><span class="active refresh" onclick="refresh()">刷新数据</span></li>
        </ol>
    </div>

</div>

<!-- START CONTENT -->
<div class="content">

    <!-- START CONTAINER -->
    <div class="container-padding" >

        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div id="panel" class="col-sm-12">
                <div class="panel panel-default">
                    <div id="tab1" class="tabWrap panel-body table-responsive">
                        <div id="filterWrap">
                            <select onchange="refresh()"  id="filterSelect" class="selectpicker" data-size="10" data-max-options="5" data-live-search="true" tabindex="-98">
                                <option value="0">全部分组</option>
                            </select>
                        </div>
                        <table id="myTable" class="table display">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>姓名</th>
                                <th>单位</th>
                                <th>手机</th>
                                <th>订单状态</th>
                                <th>备注信息</th>
                                {{/*<th>更新时间</th>*/}}
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab2" class="tabWrap" style="display: none">
                        <img class="backBtn" title="返回列表" src="../../static/img/back.png">
                        <div class="panel-body">
                            <form class="form-horizontal" id="addForm" autocomplete="off">

                                <table id="addTable">
                                    <tbody>
                                    <tr>
                                        <td class="tabtxt2" style="width: 9%;"><span class="red">*</span>客户选择</td>
                                        <td colspan="4">
                                            <select id="userAddSel" class="selectpicker" data-size="10" data-max-options="5" data-live-search="true">
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2"><span class="red">*</span>父类分组</td>
                                        <td colspan="4" id="typeAddSelWrap">
                                            <select id="typeAddSel" class="selectpicker" data-size="10" data-max-options="5" data-live-search="true" data-style="btn-default">
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2"><span class="red">*</span>子类分组</td>
                                        <td colspan="4" id="typeChildAddSelWrap">
                                            <select id="typeChildAddSel" class="selectpicker" data-size="10" data-max-options="5" data-live-search="true" data-style="btn-default">
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2"><span class="red">*</span>实验项目</td>
                                        <td colspan="4" id="deviceAddSelWrap">
                                            <select id="deviceAddSel" class="selectpicker" data-size="10" data-max-options="5" data-live-search="true">
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr style="color: #6195ff;font-size: 16px">
                                        <td class="tabtxt2">所属分类</td>
                                        <td colspan="4" class="type">-</td>
                                        <td class="typeMore"></td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2"><span class="red">*</span>已选项目</td>
                                        <td colspan="5" class="allDevice" style="font-size: 16px">-</td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2">付费方式</td>
                                        <td><input type="radio" value="现金结算" name="pay"/>&nbsp;现金结算</td>
                                        <td><input type="radio" checked value="银行汇款" name="pay"/>&nbsp;银行汇款</td>
                                        <td><input type="radio" value="从预存款中扣除" name="pay"/>&nbsp;从预存款中扣除</td>
                                        <td colspan="2"><input type="radio" value="其他" name="pay"/>&nbsp;其他</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" style="padding-left: 30px">
                                            <span class="tipRed">*</span>由于实验或测试项目受到诸如样品自身内应力、实际物相与提供的不一致、样品状态不稳定等非乙方技术问题而导致的实验失败，甲方仍需全额支付承检方样品制样费用。
                                        </td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #eee;">
                                        <td colspan="3" style="text-align: right;padding-right: 15px;">
                                            <input type="radio" checked value="接受" name="test_result"/>&nbsp;接受
                                        </td>
                                        <td colspan="3" style="text-align: left;padding-left: 15px;">
                                            <input type="radio" value="不接受" name="test_result"/>&nbsp;不接受
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2">检测报告</td>
                                        <td colspan="5">
                                            <input type="radio" checked="" value="无需检测报告（默认）" name="detection_report">&nbsp;无需检测报告（默认）
                                            <input type="radio" value="中文检测报告（加收200元）" name="detection_report">&nbsp;中文检测报告（加收200元）
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2">样品编号</td>
                                        <td colspan="5">
                                            <input type="text" class="form-control" maxlength="255" name="sample_code" placeholder="请输入样品编号">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2">样品名称</td>
                                        <td colspan="2">
                                            <input type="text" class="form-control" maxlength="255" name="sample_name" placeholder="请输入样品名称">
                                        </td>
                                        <td class="tabtxt2" style="text-align: right;padding-right: 15px;">样品数量</td>
                                        <td colspan="2">
                                            <input type="text" class="form-control" oninput="this.value=this.value.replace(/\D/gi,'')" maxlength="2" name="sample_count" placeholder="请输入样品数量">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2">样品处理</td>
                                        <td colspan="5">
                                            <input type="radio" value="一般样品回收（50元）" checked="true" name="sample_processing">&nbsp;一般样品回收（50元）
                                            <input type="radio" value="样品不回收" name="sample_processing">&nbsp;样品不回收
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2">关于样品</td>
                                        <td colspan="5">
                                            <input type="text" class="form-control" name="about" placeholder="样品信息">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="175" class="tabtxt2">实验参数要求</td>
                                        <td colspan="5">
                                            <textarea class="form-control" id="addParameterContent" name="parameter"></textarea>
                                            <div class="editor" id="addParameter"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="175" class="tabtxt2">其他特殊要求</td>
                                        <td colspan="5">
                                            <textarea class="form-control" id="addAboutContent" name="about" placeholder="可插入文字图片"></textarea>
                                            <div class="editor" id="addAbout">可插入文字图片</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="175" class="tabtxt2">参考结果图片</td>
                                        <td colspan="5">
                                            <textarea class="form-control" id="addResultContent" name="result" placeholder="可插入文字图片"></textarea>
                                            <div class="editor" id="addResult">可插入文字图片</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="form-group submitWrap">
                                    <div class="col-sm-offset-5">
                                        <a href="javascript:add()" class="btn btn-default">提交</a>&nbsp;&nbsp;
                                        <a id="reset" href="javascript:reset()" class="btn btn-danger">重置</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div id="tab3" class="tabWrap" style="display: none">
                        <img title="显示协议" id="more" src="../../static/img/square_left.png">
                        <img id="pdfBtn" title="下载服务协议" src="../../static/img/download.png">
                        <img class="backBtn" title="返回列表" src="../../static/img/back.png">
                        <div class="panel-body">
                            <div id="protocolInfo" class="col-lg-12">
                                <form class="form-horizontal" autocomplete="off">
                                    <table class="protocolTable" style="margin-top: 60px;display: none" id="table1" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tr>
                                            <td align="center" class="biaoti" height="60">中科科辅技术服务协议</td>
                                        </tr>
                                        <tr>
                                            <td align="left" >
                                                根据《中华人民共和国合同法》及相关法律规定，甲、乙双方基于平等互利、友好协商的基本原则，就科研工作中的材料检测与分析等相关事宜，达成一致意见，签订本协议。
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" >
                                                <div>
                                                    <span class="tabtxt2">甲方：</span>
                                                    <span style="color:red;" class="company"></span>
                                                </div>
                                                <div>
                                                    <span class="tabtxt2">乙方：</span>
                                                    <span style="color:#6195ff;" class="myCompany">中科科辅（北京）科技有限公司</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                    <table class="protocolTable tabtop13" width="100%" border="0" cellspacing="1" cellpadding="4" align="center">
                                        <tr style="height: 35px!important;line-height: 35px;">
                                            <td class="btbg font-center titfont" colspan="6">甲方信息</td>
                                        </tr>
                                        <tr colspan="6">
                                            <td class="tabtxt2">发票抬头</td>
                                            <td class="invoice"></td>
                                            <td class="tabtxt2">纳税人识别号</td>
                                            <td colspan="3" class="invoice_code"></td>
                                        </tr>
                                        <tr>
                                            <td class="tabtxt2">委托人姓名</td>
                                            <td class="name"></td>
                                            <td class="tabtxt2">电话</td>
                                            <td class="phone"></td>
                                            <td class="tabtxt2">邮箱</td>
                                            <td class="email"></td>
                                        </tr>
                                        <tr>
                                            <td class="tabtxt2">收货地址</td>
                                            <td colspan="5" class="address"></td>
                                        </tr>
                                        <tr>
                                            <td class="tabtxt2">导师/负责人姓名</td>
                                            <td colspan="2" class="teacher"></td>
                                            <td class="tabtxt2">电话</td>
                                            <td colspan="2" class="teacher_phone">-</td>
                                        </tr>
                                        <tr>
                                            <td class="tabtxt2">导师/负责人邮箱</td>
                                            <td colspan="5" class="teacher_mail">-</td>
                                        </tr>
                                        <tr style="height: 35px!important;line-height: 35px;">
                                            <td class="btbg font-center titfont" colspan="6">乙方信息</td>
                                        </tr>
                                        <tr>
                                            <td class="tabtxt2">公司名称</td>
                                            <td colspan="2" class="myCompany">中科科辅（北京）科技有限公司</td>
                                            <td class="tabtxt2">公司电话</td>
                                            <td colspan="2" class="myCompanyPhone">010-57340647</td>
                                        </tr>
                                        <tr>
                                            <td class="tabtxt2">公司主页</td>
                                            <td class="home">www.zkkefu.cn</td>
                                            <td class="tabtxt2">公司邮箱</td>
                                            <td class="myEmail">zheng@zkkefu.cn</td>
                                            <td class="tabtxt2">业务微信</td>
                                            <td class="myWechat"></td>
                                        </tr>
                                        <tr>
                                            <td class="tabtxt2">邮寄地址</td>
                                            <td colspan="5" class="myAddress"></td>
                                        </tr>
                                        <tr>
                                            <td class="tabtxt2">付费方式</td>
                                            <td><input type="radio" value="现金结算" name="pay"/>&nbsp;现金结算</td>
                                            <td><input type="radio" value="银行汇款" name="pay"/>&nbsp;银行汇款</td>
                                            <td><input type="radio" value="从预存款中扣除" name="pay"/>&nbsp;从预存款中扣除</td>
                                            <td colspan="2"><input type="radio" value="其他" name="pay"/>&nbsp;其他</td>
                                        </tr>
                                        <tr>
                                            <td class="tabtxt2">服务费用</td>
                                            <td colspan="5">请参见最后页“EBSD收费标准”</td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <span class="tipRed">*</span>由于实验或测试项目受到诸如样品自身内应力、实际物相与提供的不一致、样品状态不稳定等非乙方技术问题而导致的实验失败，甲方仍需全额支付承检方样品制样费用。
                                            </td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #eee;">
                                            <td colspan="3" style="text-align: right;padding-right: 15px;">
                                                <input type="radio" value="接受" name="test_result"/>&nbsp;接受
                                            </td>
                                            <td colspan="3" style="text-align: left;padding-left: 15px;">
                                                <input type="radio" value="不接受" name="test_result"/>&nbsp;不接受
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tabtxt2">协议签署日期</td>
                                            <td colspan="2" class="date"></td>
                                            <td class="tabtxt2">协议签署地点</td>
                                            <td colspan="2" class="city">北京</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="tabtxt2" style="border-bottom: 1px solid #eee;">甲方代表签字</td>
                                            <td colspan="3" class="tabtxt2" style="border-bottom: 1px solid #eee;">乙方代表签字</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="height: 215px;line-height: 215px;width: 50%;text-align: center;" class="sign">扫码或点击此处完成签名</td>
                                            <td colspan="3" style="line-height: 215px;text-align: center;border-left: 1px solid #eee;" class="mySign"></td>
                                        </tr>
                                        {{/*<tr style="height: 35px!important;line-height: 35px;">
                                            <td class="btbg font-center titfont" colspan="6">
                                                技术服务要求
                                            </td>
                                        </tr>*/}}
                                    </table>

                                    <div id="tableWrap"></div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="tab4" class="tabWrap" style="display: none">
                        <img class="backBtn" title="返回列表" src="../../static/img/back.png">
                        <div class="panel-body">
                            <form class="form-horizontal" id="addForm" autocomplete="off">
                                <input type="hidden" id="editRid">
                                <table id="editTable">
                                    <tbody>
                                    <tr>
                                        <td class="tabtxt2" style="width: 9%;"><span class="red">*</span>客户选择</td>
                                        <td colspan="4">
                                            <select id="userEditSel" disabled class="selectpicker" data-size="10" data-max-options="5" data-live-search="true">
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2" ><span class="red">*</span>父类分组</td>
                                        <td colspan="4" id="typeEditSelWrap">
                                            <select id="typeEditSel" disabled class="selectpicker" data-size="10" data-max-options="5" data-live-search="true" data-style="btn-default">
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2"><span class="red">*</span>实验项目</td>
                                        <td colspan="4" id="deviceEditSelWrap">
                                            <select id="deviceEditSel" class="selectpicker" data-size="10" data-max-options="5" data-live-search="true">
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr style="color: #6195ff;font-size: 16px">
                                        <td class="tabtxt2">所属分类</td>
                                        <td colspan="4" class="type">-</td>
                                        <td class="typeMore"></td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2"><span class="red">*</span>已选项目</td>
                                        <td colspan="5" class="allDevice" style="font-size: 16px">-</td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2">付费方式</td>
                                        <td><input type="radio" value="现金结算" name="pay"/>&nbsp;现金结算</td>
                                        <td><input type="radio" checked value="银行汇款" name="pay"/>&nbsp;银行汇款</td>
                                        <td><input type="radio" value="从预存款中扣除" name="pay"/>&nbsp;从预存款中扣除</td>
                                        <td colspan="2"><input type="radio" value="其他" name="pay"/>&nbsp;其他</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" style="padding-left: 30px;">
                                            <span class="tipRed">*</span>由于实验或测试项目受到诸如样品自身内应力、实际物相与提供的不一致、样品状态不稳定等非乙方技术问题而导致的实验失败，甲方仍需全额支付承检方样品制样费用。
                                        </td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #eee;">
                                        <td colspan="3" style="text-align: right;padding-right: 15px;">
                                            <input type="radio" checked value="接受" name="test_result"/>&nbsp;接受
                                        </td>
                                        <td colspan="3" style="text-align: left;padding-left: 15px;">
                                            <input type="radio" value="不接受" name="test_result"/>&nbsp;不接受
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2">检测报告</td>
                                        <td colspan="5">
                                            <input type="radio" checked="" value="无需检测报告（默认）" name="detection_report">&nbsp;无需检测报告（默认）
                                            <input type="radio" value="中文检测报告（加收200元）" name="detection_report">&nbsp;中文检测报告（加收200元）
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2">样品编号</td>
                                        <td colspan="5">
                                            <input type="text" class="form-control" maxlength="255" name="sample_code" placeholder="请输入样品编号">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2">样品名称</td>
                                        <td colspan="2">
                                            <input type="text" class="form-control" maxlength="255" name="sample_name" placeholder="请输入样品名称">
                                        </td>
                                        <td class="tabtxt2" style="text-align: right;padding-right: 15px;">样品数量</td>
                                        <td colspan="2">
                                            <input type="text" class="form-control" oninput="this.value=this.value.replace(/\D/gi,'')" maxlength="2" name="sample_count" placeholder="请输入样品数量">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2">样品处理</td>
                                        <td colspan="5">
                                            <input type="radio" value="一般样品回收（50元）" checked="true" name="sample_processing">&nbsp;一般样品回收（50元）
                                            <input type="radio" value="样品不回收" name="sample_processing">&nbsp;样品不回收
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tabtxt2">关于样品</td>
                                        <td colspan="5">
                                            <input type="text" class="form-control" name="about" placeholder="样品信息">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="175" class="tabtxt2">实验参数要求</td>
                                        <td colspan="5">
                                            <textarea class="form-control" id="editParameterContent" name="parameter"></textarea>
                                            <div class="editor" id="editParameter"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="175" class="tabtxt2">其他特殊要求</td>
                                        <td colspan="5">
                                            <textarea class="form-control" id="editAboutContent" name="about" placeholder="可插入文字图片"></textarea>
                                            <div class="editor" id="editAbout">可插入文字图片</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="175" class="tabtxt2">参考结果图片</td>
                                        <td colspan="5">
                                            <textarea class="form-control" id="editResultContent" name="result" placeholder="可插入文字图片"></textarea>
                                            <div class="editor" id="editResult">可插入文字图片</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="175" class="tabtxt2">制样要求</td>
                                        <td colspan="5">
                                            <textarea class="form-control" id="editRemark1Content" name="result" placeholder="可插入文字图片"></textarea>
                                            <div class="editor" id="editRemark1">可插入文字图片</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="175" class="tabtxt2">测试要求</td>
                                        <td colspan="5">
                                            <textarea class="form-control" id="editRemark2Content" name="result" placeholder="可插入文字图片"></textarea>
                                            <div class="editor" id="editRemark2">可插入文字图片</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="175" class="tabtxt2">数据分析要求</td>
                                        <td colspan="5">
                                            <textarea class="form-control" id="editRemark3Content" name="result" placeholder="可插入文字图片"></textarea>
                                            <div class="editor" id="editRemark3">可插入文字图片</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="form-group submitWrap">
                                    <div class="col-sm-offset-5">
                                        <a href="javascript:update()" class="btn btn-default">更新</a>&nbsp;&nbsp;
                                        <a id="reset" href="javascript:reset()" class="btn btn-danger">重置</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Panel -->

        </div>
        <!-- End Row -->

    </div>
    <!-- END CONTAINER -->

    <!-- 模态框-detail（Modal） -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        订单详情
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >
                            订单编号：<span class="rid"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            订单状态：<span class="status"></span>
                        </p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >
                            姓名：<span class="name"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            手机：<span class="phone"></span>
                        </p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >单位：<span class="company"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >
                            创建时间：<span id="detail_created"></span>&nbsp;&nbsp;&nbsp;
                            更新时间：<span id="detail_updated"></span>
                        </p>
                    </div>

                    <div class="libItemWrap"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 模态框-edit（Modal） -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="editModalLabel">
                        编辑信息&nbsp;&nbsp;<span id="tip"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="editForm" autocomplete="off">
                        <input type="hidden" id="id" name="id">
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">订单编号</label>
                            <div class="col-sm-5">
                                <div style="margin-top: 6px" class="rid"></div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">订单状态</label>
                            <div class="col-sm-6" id="selWrap2">
                                <select id="status" class="selectpicker" data-size="10">
                                    <option value="0">待确认</option>
                                    <option value="1">已确认</option>
                                    <option value="2">已取消</option>
                                    <option value="3">已完成</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label form-label">备注信息</label>
                            <div class="col-sm-9">
                                <textarea name="remark" class="form-control" placeholder=""></textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button id="editBtn" type="button" onclick="edit()" class="btn btn-default">
                        提交更新
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 模态框-protocol（Modal） -->
    <div class="modal fade" id="protocolModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title">
                        查看订单协议或实验要求
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" autocomplete="off">
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">订单编号</label>
                            <div class="col-sm-6 rid"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">查看类型</label>
                            <div class="col-sm-6">
                                <select class="selectpicker" data-size="10">
                                    <option value="0">服务协议</option>
                                    <option value="1">实验要求</option>
                                </select>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">查看</button>
                    <button type="button" class="btn btn-default">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 模态框-assign（Modal） -->
    <div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title">
                        指派订单
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" autocomplete="off">
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">订单编号</label>
                            <div class="col-sm-6 rid" ></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">当前处理用户</label>
                            <div class="col-sm-6" id="curUser"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">指派用户</label>
                            <div class="col-sm-6" id="userSelWrap">
                                <select id="userSel" class="selectpicker" data-size="10" data-live-search="true" data-style="btn-default">
                                </select>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">提交</button>
                    <button type="button" class="btn btn-default">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 模态框-report（Modal） -->
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title">
                        实验报告
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" autocomplete="off">
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">订单编号</label>
                            <div class="col-sm-6 rid" ></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">上传文件</label>
                            <div class="col-sm-6">
                                <input class="form-control" name="file" type="file"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">下载文件</label>
                            <div class="col-sm-6" id="fileWrap">

                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
<!-- End Content -->

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/plugins/bootstrap/bootstrap.min.js"></script>
<script src="../../static/plugins/sweetalert/sweetalert.min.js"></script>
<script src="../../static/plugins/bootstrap/bootstrap-select/bootstrap-select.min.js"></script>
<script src="../../static/plugins/icheck/icheck.min.js"></script>
<script src="../../static/plugins/pdf/html2canvas.min.js"></script>
<script type="module" src="../../static/plugins/pdf/canvas2image.js"></script>
<script src="../../static/plugins/pdf/jspdf.min.js"></script>
<script type="text/javascript" src="../../static/plugins/bootstrap/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../../static/plugins/bootstrap/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="../../static/js/util/util.js"></script>
<script src="../../static/js/util/timeUtil.js"></script>
<script src="../../static/js/util/stringUtil.js"></script>
<script src="../../static/js/util/imgUtil.js"></script>
<script src="../../static/plugins/datatables/datatables.min.js"></script>
<script src="../../static/js/main/order.js?v={{ .random}}"></script>

</body>
</html>