
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约信息管理</title>
    <!-- ========== Css Files ========== -->
    <link href="../../static/css/root.css" rel="stylesheet">
    <link href="../../static/css/design.css?v={{ .random}}" rel="stylesheet">
    <link href="../../static/css/main/reservation.css?v={{ .random}}" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<input type="hidden" value="{{ ._xsrf}}" id="token">
<div id="loading" class="loading-wrap">
    <div class="loader" >
        <div class="la-ball-clip-rotate-multiple la-3x">
            <div></div>
            <div></div>
        </div>
        <div class="loaderTxt">数据交互中...</div>
    </div>
</div>

<div class="mHead">
    <!-- Start Page Header -->
    <div>
        <ol class="breadcrumb">
            <li><span id="tabHref01" href="javascript:void(0)">数据列表</span></li>
            <li><span id="tabHref02" class="active" href="javascript:void(0)">新增数据</span></li>
            <li><span class="active" onclick="refresh()">刷新数据</span></li>
        </ol>
    </div>

</div>

<!-- START CONTENT -->
<div class="content">

    <!-- START CONTAINER -->
    <div class="container-padding" >

        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div id="panel" class="col-sm-12">
                <div class="panel panel-default">
                    <div id="tab1" class="panel-body table-responsive">
                        <table id="myTable" class="table display">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>姓名</th>
                                <th>单位</th>
                                <th>手机</th>
                                <th>设备名称</th>
                                <th>预约日期</th>
                                <th>预约时间</th>
                                <th>预约状态</th>
                                <th>更新时间</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab2" style="display: none">

                        <div class="panel-body">
                            <form class="form-horizontal" id="addForm" autocomplete="off">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">客户选择</label>
                                    <div class="col-sm-6" id="userWrap1">
                                        <select id="userSel1" class="selectpicker" data-size="10" data-max-options="5" data-live-search="true">
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">预约设备</label>
                                    <div class="col-sm-6" id="selWrap1">
                                        <select id="typeSel1" class="selectpicker" data-size="10" data-max-options="5" data-live-search="true">
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">日期选择</label>
                                    <div class="col-sm-2">
                                        <input type="text" readonly="readonly" name="date" class="form-control date" autocomplete="off"  placeholder="请选择日期">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-bottom: 16px;">
                                    <label class="col-sm-2 control-label form-label">时间选择</label>
                                    <div class="col-sm-5">
                                        <div class="timeWrap">
                                            {{/*<span class="timeItem">08:00-10:00</span>
                                            <span class="timeItemActive">08:00-10:00</span>
                                            <span class="timeItem-disabled">08:00-10:00</span>*/}}
                                        </div>
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label form-label">备注信息</label>
                                    <div class="col-sm-8">
                                        <textarea name="remark" class="form-control" placeholder=""></textarea>
                                    </div>
                                </div>

                                <div class="form-group submitWrap">
                                    <div class="col-sm-offset-5">
                                        <a href="javascript:add()" class="btn btn-default">提交</a>&nbsp;&nbsp;
                                        <a id="reset" href="javascript:reset()" class="btn btn-danger">重置</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Panel -->

        </div>
        <!-- End Row -->

    </div>
    <!-- END CONTAINER -->

    <!-- 模态框-detail（Modal） -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        查看详情
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >姓名：<span class="name"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >单位：<span class="company"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >手机：<span class="phone"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >设备名称：<span class="deviceName"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >预约日期：<span class="date"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >预约时间：<span class="time"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static">预约状态：<span class="status"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >备注信息：<span class="remark"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >创建时间：<span id="detail_created"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >最近更新：<span id="detail_updated"></span></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 模态框-edit（Modal） -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="editModalLabel">
                        编辑信息&nbsp;&nbsp;<span id="tip"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="editForm" autocomplete="off">
                        <input type="hidden" id="id" name="id">
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">预约设备</label>
                            <div class="col-sm-6" id="selWrap2">
                                <select id="typeSel2" class="selectpicker" disabled data-size="10" data-max-options="5" data-live-search="true">
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">预约状态</label>
                            <div class="col-sm-6" id="selWrap2">
                                <select id="status" class="selectpicker" data-size="10">
                                    <option value="0">待确认</option>
                                    <option value="1">已确认</option>
                                    <option value="2">已取消</option>
                                    <option value="3">已完成</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">日期选择</label>
                            <div class="col-sm-5">
                                <input type="text" readonly="readonly" id="editDate" name="date" class="form-control date" autocomplete="off"  placeholder="请选择日期">
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group" style="margin-bottom: 16px;">
                            <label class="col-sm-2 control-label form-label">时间选择</label>
                            <div class="col-sm-9">
                                <div class="timeWrap">
                                    {{/*<span class="timeItem">08:00-10:00</span>
                                            <span class="timeItemActive">08:00-10:00</span>
                                            <span class="timeItem-disabled">08:00-10:00</span>*/}}
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label form-label">备注信息</label>
                            <div class="col-sm-9">
                                <textarea name="remark" class="form-control" placeholder=""></textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button id="editBtn" type="button" onclick="edit()" class="btn btn-default">
                        提交更新
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>
<!-- End Content -->

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/plugins/bootstrap/bootstrap.min.js"></script>
<script src="../../static/plugins/sweetalert/sweetalert.min.js"></script>
<script src="../../static/plugins/bootstrap/bootstrap-select/bootstrap-select.min.js"></script>
<script src="../../static/plugins/icheck/icheck.min.js"></script>
<script type="text/javascript" src="../../static/plugins/bootstrap/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../../static/plugins/bootstrap/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="../../static/js/util/util.js"></script>
<script src="../../static/js/util/timeUtil.js"></script>
<script src="../../static/js/util/stringUtil.js"></script>
<script src="../../static/plugins/datatables/datatables.min.js"></script>
<script src="../../static/js/main/reservation.js?v={{ .random}}"></script>

</body>
</html>