
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分组信息管理</title>
    <!-- ========== Css Files ========== -->
    <link href="../../static/css/root.css" rel="stylesheet">
    <link href="../../static/css/design.css?v={{ .random}}" rel="stylesheet">
    <link href="../../static/css/main/type.css?v={{ .random}}" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<input type="hidden" value="{{ ._xsrf}}" id="token">
<div id="loading" class="loading-wrap">
    <div class="loader" >
        <div class="la-ball-clip-rotate-multiple la-3x">
            <div></div>
            <div></div>
        </div>
        <div class="loaderTxt">数据交互中...</div>
    </div>
</div>

<div class="mHead">
    <!-- Start Page Header -->
    <div>
        <ol class="breadcrumb">
            <li><span id="tabHref01" href="javascript:void(0)">数据列表</span></li>
            <li><span id="tabHref02" class="active" href="javascript:void(0)">新增数据</span></li>
            <li><span class="active" onclick="refresh()">刷新数据</span></li>
            <li><span class="batchDel" onclick="batchDel()">批量删除</span></li>
        </ol>
    </div>

</div>

<!-- START CONTENT -->
<div class="content">

    <!-- START CONTAINER -->
    <div class="container-padding" >

        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div id="panel" class="col-sm-12">
                <div class="panel panel-default">
                    <div id="tab1" class="panel-body table-responsive">
                        <table id="myTable" class="table display">
                            <thead>
                            <tr>
                                <th><div style="text-align: left"><input id="hCheck" type='checkbox' name='check' value='-1'><span style="margin-left: 3px;">编号</span></div></th>
                                <th>分组名称</th>
                                <th>分组描述</th>
                                <th>分组图片</th>
                                <th>更新时间</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab2" style="display: none">

                        <div class="panel-body">
                            <form class="form-horizontal" autocomplete="off">

                                <div class="form-group">
                                    <label for="account" class="col-sm-2 control-label form-label"><span class="red">*</span>分组名称</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" maxlength="20" id="name" placeholder="请输入分组名称">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="account" class="col-sm-2 control-label form-label"><span class="red">*</span>检测周期</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" oninput = "value=value.replace(/[^\d]/g,'')" maxlength="2" id="detection_cycle" placeholder="请输入检测周期(单位/天)">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label"><span class="red"></span><span class="red">*</span>分组图片</label>
                                    <div class="col-sm-5">
                                        <div id="imgWrap">
                                            <button type="button" id="uploadPic" class="btn btn-default">上传图片</button>
                                            &nbsp;<span class="text-info " id="picName"></span>
                                            <span class="help-block"><span style="color: red">*</span>建议宽高370*270,文件小于1MB</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label form-label"><span class="red">*</span>描述信息</label>
                                    <div class="col-sm-8">
                                        <textarea id="description" class="form-control" placeholder=""></textarea>
                                    </div>
                                </div>

                                <div class="form-group submitWrap">
                                    <div class="col-sm-offset-5">
                                        <a href="javascript:add()" class="btn btn-default">提交</a>&nbsp;&nbsp;
                                        <a id="reset" href="javascript:reset()" class="btn btn-danger">重置</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Panel -->

        </div>
        <!-- End Row -->

    </div>
    <!-- END CONTAINER -->

    <!-- 模态框-detail（Modal） -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        查看详情
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >分组名称：<span id="detail_name"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >检测周期：<span id="detail_detection_cycle"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >图片地址：<span id="detail_img"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >备注信息：<span id="detail_description"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >创建时间：<span id="detail_created"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >最近更新：<span id="detail_updated"></span></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 模态框-edit（Modal） -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="editModalLabel">
                        编辑信息&nbsp;&nbsp;<span id="tip"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" autocomplete="off">
                        <input type="hidden" id="id">
                        <div class="form-group">
                            <label for="account" class="col-sm-2 control-label form-label"><span class="red">*</span>分组名称</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" maxlength="20" id="edit_name" placeholder="请输入分组名称">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="account" class="col-sm-2 control-label form-label"><span class="red">*</span>检测周期</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" oninput = "value=value.replace(/[^\d]/g,'')" maxlength="2" id="edit_detection_cycle" placeholder="请输入检测周期(单位/天)">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label"><span class="red">*</span>分组图片</label>
                            <div class="col-sm-8">
                                <div id="imgWrap">
                                    <button type="button" id="edit_uploadPic" class="btn btn-default">上传图片</button>
                                    &nbsp;<span class="text-info" id="edit_picName"></span>
                                    <span class="help-block"><span style="color: red">*</span>建议宽高370*270,文件小于1MB</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label form-label"><span class="red">*</span>描述信息</label>
                            <div class="col-sm-8">
                                <textarea id="edit_description" class="form-control" placeholder=""></textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="edit()" class="btn btn-default">
                        提交更新
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>
<!-- End Content -->

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/plugins/bootstrap/bootstrap.min.js"></script>
<script src="../../static/plugins/sweetalert/sweetalert.min.js"></script>
<script src="../../static/plugins/bootstrap/bootstrap-select/bootstrap-select.min.js"></script>
<script src="../../static/plugins/icheck/icheck.min.js"></script>
<script src="../../static/js/util/util.js"></script>
<script src="../../static/plugins/datatables/datatables.min.js"></script>
<script src="../../static/js/main/type.js?v={{ .random}}"></script>

</body>
</html>