
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息管理</title>
    <!-- ========== Css Files ========== -->
    <link href="../../static/css/root.css" rel="stylesheet">
    <link href="../../static/css/main/common.css?v={{ .random}}" rel="stylesheet">
    <link href="../../static/css/design.css?v={{ .random}}" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<input type="hidden" value="{{ ._xsrf}}" id="token">
<div id="loading" class="loading-wrap">
    <div class="loader" >
        <div class="la-ball-clip-rotate-multiple la-3x">
            <div></div>
            <div></div>
        </div>
        <div class="loaderTxt">数据交互中...</div>
    </div>
</div>

<div class="mHead">
    <!-- Start Page Header -->
    <div>
        <ol class="breadcrumb">
            <li><span data="tab1" class="list" href="javascript:void(0)">数据列表</span></li>
            <li><span data="tab2" class="active add" href="javascript:void(0)">新增数据</span></li>
            <li><span class="active" onclick="refresh()">刷新数据</span></li>
            <li><span class="batchDel" onclick="batchDel()">批量删除</span></li>
        </ol>
    </div>

</div>

<!-- START CONTENT -->
<div class="content">

    <!-- START CONTAINER -->
    <div class="container-padding" >

        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div id="panel" class="col-sm-12">
                <div class="panel panel-default">
                    <div id="tab1" class="panel-body table-responsive tabWrap">
                        <table id="myTable" class="table display">
                            <thead>
                            <tr>
                                <th><div style="text-align: left"><input id="hCheck" type='checkbox' name='check' value='-1'><span style="margin-left: 3px;">编号</span></div></th>
                                <th>姓名</th>
                                <th>单位</th>
                                <th>手机</th>
                                <th>邮箱</th>
                                <th>地址</th>
                                <th>导师/负责人</th>
                                <th>账号类型</th>
                                <th>使用状态</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab2" class="tabWrap" style="display: none">
                        <img class="backBtn" title="返回列表" src="../../static/img/back.png">
                        <div class="panel-body">
                            <form class="form-horizontal" id="addForm" autocomplete="off">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">性别</label>
                                    <div class="col-sm-6">
                                        <select id="gender" class="selectpicker" >
                                            <option value="未知">未知</option>
                                            <option value="男">男</option>
                                            <option value="女">女</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">使用状态</label>
                                    <div class="col-sm-6">
                                        <select id="disabled" class="selectpicker" >
                                            <option selected value="0">可用</option>
                                            <option value="1">禁用</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">账号类型</label>
                                    <div class="col-sm-6">
                                        <select onchange="hideTypeSel(this,'addTypeSelectWrap')" id="type" class="selectpicker" >
                                            <option selected value="4">业务经理</option>
                                            <option value="5">制样工程师</option>
                                            <option value="6">测试工程师</option>
                                            <option value="7">数据分析师</option>
                                            <option value="3">财务管理员</option>
                                            <option value="2">普通管理员</option>
                                            <option value="1">高级管理员</option>
                                            <option value="99">普通用户</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label"><span class="red"></span>负责领域</label>
                                    <div class="col-sm-6 " id="addTypeSelectWrap">
                                        <select id="addTypeSel" class="selectpicker" data-size="10" data-max-options="5" data-live-search="true" data-style="btn-default">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="account_edit" class="col-sm-2 control-label form-label"><span class="red">*</span>账号</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" oninput="value=this.value.replace(/[^\w_]/g,'');" maxlength="20" name="account" placeholder="不可纯数字,至少5个字符,将不可更改">
                                        {{/*<span class="help-block"></span>*/}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label"><span class="red">*</span>密码</label>
                                    <div class="col-sm-6">
                                        <input type="password" autocomplete="new-password" name="password" maxlength="30" onclick="javascript:$(this).val('');"  class="form-control" placeholder="请输入密码" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label form-label">姓名</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="name" maxlength="15" onkeyup="value=value.replace(/[^/a-zA-Z\0-9\u4E00-\u9FA5]/g,'')" class="form-control" placeholder="请输入姓名" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label form-label">单位</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="company" maxlength="30" class="form-control" placeholder="请输入单位" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="col-sm-2 control-label form-label">手机</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="phone" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" maxlength="11" placeholder="请输入手机" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label form-label">邮箱</label>
                                    <div class="col-sm-6">
                                        <input type="text" autocomplete="new-password" name="email" onKeyUp="value=value.replace(/[^/a-zA-Z0-9.@]/g,'')"  class="form-control" maxlength="40" placeholder="邮箱将用于找回密码" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label form-label">地址</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="address" maxlength="60" class="form-control" placeholder="请输入地址" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label form-label">导师</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="teacher" maxlength="30" class="form-control" placeholder="请输入导师" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label form-label">导师电话</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="teacher_phone" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" maxlength="11" placeholder="请输入导师电话" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label form-label">导师邮箱</label>
                                    <div class="col-sm-6">
                                        <input type="email" name="teacher_mail" onKeyUp="value=value.replace(/[^/a-zA-Z0-9.@]/g,'')"  class="form-control" maxlength="40" placeholder="请输入导师邮箱" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label form-label">发票抬头</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="invoice" maxlength="60" class="form-control" placeholder="请输入发票抬头" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label form-label">纳税人识别码</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="invoice_code" maxlength="60" class="form-control" placeholder="请输入纳税人识别码" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label form-label">备注信息</label>
                                    <div class="col-sm-9">
                                        <textarea name="remark" class="form-control" placeholder=""></textarea>
                                    </div>
                                </div>

                                <div class="form-group submitWrap">
                                    <div class="col-sm-offset-5">
                                        <a href="javascript:add()" class="btn btn-default">提交</a>&nbsp;&nbsp;
                                        <a id="reset" href="javascript:reset()" class="btn btn-danger">重置</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Panel -->

        </div>
        <!-- End Row -->

    </div>
    <!-- END CONTAINER -->

    <!-- 模态框-detail（Modal） -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        查看详情
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >登录账号：<span class="account"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >激活状态：<span class="active"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >使用状态：<span class="disabled"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >账号类型：<span class="type"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >姓名：<span class="name"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static">性别：<span class="gender"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static">单位：<span class="company"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >邮箱：<span class="email"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >手机：<span class="phone"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static">地址：<span class="address"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static">导师：<span class="teacher"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static">导师电话：<span class="teacher_phone"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static">导师邮箱：<span class="teacher_mail"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static">发票抬头：<span class="invoice"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static">纳税人识别码：<span class="invoice_code"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >备注信息：<span class="remark"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >创建时间：<span id="detail_created"></span></p>
                    </div>
                    <div class="col-sm-offset-1">
                        <p class="form-control-static" >最近更新：<span id="detail_updated"></span></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 模态框-edit（Modal） -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="editModalLabel">
                        编辑信息&nbsp;&nbsp;<span id="tip"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="editForm" autocomplete="off">

                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">性别</label>
                            <div class="col-sm-6">
                                <select id="editGender" name="gender" class="selectpicker" >
                                    <option value="未知">未知</option>
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">使用状态</label>
                            <div class="col-sm-6">
                                <select id="editDisabled" name="disabled" class="selectpicker" >
                                    <option selected value="0">可用</option>
                                    <option value="1">禁用</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">激活状态</label>
                            <div class="col-sm-6">
                                <select id="editActive" name="disabled" class="selectpicker" >
                                    <option value="1">已激活</option>
                                    <option value="0">未激活</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label">账号类型</label>
                            <div class="col-sm-6">
                                <select id="editType" onchange="hideTypeSel(this,'editTypeSelectWrap')" name="type" class="selectpicker">
                                    <option selected value="4">业务经理</option>
                                    <option value="5">制样工程师</option>
                                    <option value="6">测试工程师</option>
                                    <option value="7">数据分析师</option>
                                    <option value="3">财务管理员</option>
                                    <option value="2">普通管理员</option>
                                    <option value="1">高级管理员</option>
                                    <option value="99">普通用户</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label"><span class="red"></span>负责领域</label>
                            <div class="col-sm-6 " id="editTypeSelectWrap">
                                <select id="editTypeSel" class="selectpicker" data-size="10" data-max-options="5" data-live-search="true" data-style="btn-default">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="account_edit" class="col-sm-2 control-label form-label"><span class="red">*</span>账号</label>
                            <div class="col-sm-6">
                                <input type="hidden" name="id" id="id">
                                <input type="text" class="form-control" disabled  name="account" placeholder="请输入账号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label form-label"><span class="red">*</span>密码</label>
                            <div class="col-sm-6">
                                <input type="password" name="password" maxlength="30" onclick="javascript:$(this).val('');"  class="form-control" placeholder="请输入密码" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label form-label">姓名</label>
                            <div class="col-sm-6">
                                <input type="text" name="name" maxlength="15" onkeyup="value=value.replace(/[^/a-zA-Z\0-9\u4E00-\u9FA5]/g,'')" class="form-control" placeholder="请输入姓名" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="company" class="col-sm-2 control-label form-label">公司/单位</label>
                            <div class="col-sm-6">
                                <input type="text" name="company" maxlength="30" class="form-control" placeholder="请输入公司/单位" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label form-label">手机</label>
                            <div class="col-sm-6">
                                <input type="text" name="phone" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" maxlength="11" placeholder="请输入手机" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label form-label">邮箱</label>
                            <div class="col-sm-6">
                                <input type="email" name="email" onKeyUp="value=value.replace(/[^/a-zA-Z0-9.@]/g,'')"  class="form-control" maxlength="40" placeholder="请输入邮箱" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label form-label">导师</label>
                            <div class="col-sm-6">
                                <input type="text" name="teacher" maxlength="30" class="form-control" placeholder="请输入导师" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label form-label">导师电话</label>
                            <div class="col-sm-6">
                                <input type="text" name="teacher_phone" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" maxlength="11" placeholder="请输入导师电话" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label form-label">导师邮箱</label>
                            <div class="col-sm-6">
                                <input type="email" name="teacher_mail" onKeyUp="value=value.replace(/[^/a-zA-Z0-9.@]/g,'')"  class="form-control" maxlength="40" placeholder="请输入导师邮箱" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label form-label">发票抬头</label>
                            <div class="col-sm-6">
                                <input type="text" name="invoice" maxlength="60" class="form-control" placeholder="请输入发票抬头" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label form-label">纳税人识别码</label>
                            <div class="col-sm-6">
                                <input type="text" name="invoice_code" maxlength="60" class="form-control" placeholder="请输入纳税人识别码" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label form-label">备注信息</label>
                            <div class="col-sm-9">
                                <textarea name="remark" class="form-control" placeholder=""></textarea>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="edit()" class="btn btn-default">
                        提交更新
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>
<!-- End Content -->

<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/plugins/bootstrap/bootstrap.min.js"></script>
<script src="../../static/plugins/sweetalert/sweetalert.min.js"></script>
<script src="../../static/plugins/bootstrap/bootstrap-select/bootstrap-select.min.js"></script>
<script src="../../static/plugins/icheck/icheck.min.js"></script>
<script src="../../static/js/util/stringUtil.js"></script>
<script src="../../static/js/util/timeUtil.js"></script>
<script src="../../static/js/util/util.js"></script>
<script src="../../static/js/main/common.js"></script>
<script src="../../static/plugins/datatables/datatables.min.js"></script>
<script src="../../static/js/main/user.js?v={{ .random}}"></script>

</body>
</html>